
{% extends "layout.html" %}

{% block content %}

<h1>Movie Finder</h1>

  {% if form.movie_name.errors %}
  Errors:
  {% for error in form.movie_name.errors %}
      <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
  {% endif %}

<form action="" method="post">{% csrf_token %}
<input type="text" name="movie_name" placeholder="Enter a movie name here">
<input type="submit" value="Submit" class='button success'/>
</form>

{% if search_results %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Poster</th>
      <th width="250">Movie Title</th>
      <th>Year Release</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>

  {% for movie in search_results %}
    <td>{{ forloop.counter }}</td>
      <td><img src="{{movie.posters.thumbnail}}" alt="{{movie.title}}" class="img-rounded"/></td>
      <td>{{movie.title}}</td>
      <td>{{movie.year}}</td>
      <td><i class="icon-film"></i></td>
    </tr>
   {% endfor %}
  
  </tbody>
</table>

{% endif %}

{% endblock %}